/*
		_buttons.scss
*/

a[class*="btn"],
button[class*="btn"]{
	font-size: 13px !important;
	@include box-shadow(none);
	margin: 0;
}

a[class*="btn"]:not([menu-btn]),
button[class*="btn"]:not([menu-btn]){
	margin-right: 5px;
	@media #{$small-and-down} {
    width: 100%;
  }
}

.sending{
	@include border-radius(300px);
}

// moon-blue
.moon-blue-btn{
	@extend .moon-blue-bg;
	@extend .white-text;

	&:active, &:hover, &:focus{
		background: getTint($moon-blue, 5%, !important);
	}
}

// aqua-green
.aqua-green-btn{
	@extend .aqua-green-bg;
	@extend .white-text;

	&:active, &:hover, &:focus{
		background: getTint($aqua-green, 5%, !important);
	}
}

// electric-blue
.electric-blue-btn{
	@extend .electric-blue-bg;
	@extend .white-text;

	&:active, &:hover, &:focus{
		background: getTint($electric-blue, 5%, !important);
	}
}

// candy-pink
.candy-pink-btn{
	@extend .candy-pink-bg;
	@extend .white-text;

	&:active, &:hover, &:focus{
		background: getTint($candy-pink, 5%, !important);
	}
}

// chirpy-purple
.chirpy-purple-btn{
	@extend .chirpy-purple-bg;
	@extend .white-text;

	&:active, &:hover, &:focus{
		background: getTint($chirpy-purple, 5%, !important);
	}
}

// dark-purple
.dark-purple-btn{
	@extend .dark-purple-bg;
	@extend .white-text;

	&:active, &:hover, &:focus{
		background: getTint($dark-purple, 5%, !important);
	}
}

// deep-purple
.deep-purple-btn{
	@extend .deep-purple-bg;
	@extend .white-text;

	&:active, &:hover, &:focus{
		background: getTint($deep-purple, 5%, !important);
	}
}

// grey
.grey-btn{
	background: getTint($bluestone-grey, 45%, !important);
	@extend .bluestone-grey-text;

	&:active, &:hover, &:focus{
		background: getTint($bluestone-grey, 50%, !important);
	}
}

// white
.white-btn{
	@extend .white-bg;
	@extend .bluestone-grey-text;

	&:active, &:hover, &:focus{
		background: getShade($white, 5%, !important);
	}
}
