/* _datepicker.scss */

.datepicker-container{
	@include box-shadow(none);
	@extend .aqua-green-bg, .white-text;
	padding: 1em;
	border: 0px;
	
	&:before{
		border-top: 0px;
	}
	&:after{
		border-bottom-color: $aqua-green;
		border-top-color: $aqua-green;
	}
}
.datepicker-panel[data-view="years picker"],
.datepicker-panel[data-view="months picker"],
.datepicker-panel[data-view="days picker"]{
	& ul{
		@extend .white-text;
		
		& li{
			background: none;
			
			&:hover{
				background: getTint($aqua-green,10);
			}
			
			&.muted{
				color: getShade($aqua-green,10);
			}
			&.picked{
				@extend .candy-pink-text;
			}
		}
	}
}
.datepicker-panel > ul[data-view="week"] > li, .datepicker-panel > ul[data-view="week"] > li:hover{
	background: none !important;
}

