/* _feature-box.scss */

.feature-boxes{
	display: inline-block;
}
.feature-box{
	margin-bottom: 2em;
	position: relative;;

	@media #{$small-and-down} {
    	text-align: center;
	}

	& h4,h5{
		@extend .white-text;
		font-weight: 700;
		margin-bottom: 10px;
	}

	& p{
		margin-bottom: 0;
	}

	&:nth-child(n+3){
		padding-top: 2em;
	}

	&:nth-child(2n){
		@media #{$small-and-down} {
			padding-top: 2em;
			border-top: 2px solid rgba($white,0.05);
		}

		&:after{
			content: "";
			width: 2px;
			height: calc(100% - 2em);
			@extend .white-bg;
			position: absolute;;
			top: calc(50% + 1em);
			left: 0px;
			@include transform(translateY(-50%));
			opacity: 0.05;

			@media #{$small-and-down} {
		    display: none;
		  }
		}
	}

	&:nth-child(2){
		&:after{
			height: 100%;
			top: 50%;
		}
	}

	&:nth-child(n+3){
		border-top: 2px solid rgba($white,0.05);
	}

}
