// _forms.scss

form{
  margin: 0;
  padding: 0 !important;
}

.bots-honeypot{
  display: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea{
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 15px 10px 15px 10px;
  border: 1px solid getTint($bluestone-grey,40%);
  @include border-radius(2px);
  font-weight: 200;
  outline: none;
  @include transition (all $duration $ease);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: $white;

  &:active,
  &:focus{
    border: 1px solid $aqua-green !important;
  }

  &.invalid{
    border: 1px solid $candy-pink;
  }
}

label{
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

#toast-container{
	bottom: 7% !important;
	top: auto;
	//@extend .dull-black-bg;

	& .toast{
		@extend .dull-black-bg;
	}
}
