// _forms.scss


// label color
.input-field label {
 @extend .white-text;
}

// label focus color
.input-field {
	& input[type="text"]:focus + label,
 	& input[type="tel"]:focus + label,
 	& input[type="email"]:focus + label,
 	& textarea:focus + label{
		@extend .electric-blue-text;
 	}
}

// label underline color
.input-field{
	& input[type="text"],
	& input[type="tel"],
	& input[type="email"],
	& select,
	& textarea{
		border-bottom: 1px solid $white;
	}
}

// label underline focus color
.input-field{
	& input[type="text"]:focus,
	& input[type="tel"]:focus,
	& input[type="email"]:focus,
	& textarea:focus{
	 border-bottom: 1px solid $electric-blue !important;
	 box-shadow: 0 1px 0 0 $electric-blue !important;
	}
}

// required color
input[required],
textarea[required]{
	border-bottom: 1px solid $bright-yellow !important;
	box-shadow: 0 1px 0 0 $bright-yellow !important;
}

// fix textarea .validate class
textarea.materialize-textarea.validate + label:not(.label-icon).active {
    transform: scale(0.8) translateY(-14px);

    &:after {
        transform: translateY(36px);
    }
}

// valid color
.input-field {
	& input[type=text],
	& input[type=tel],
	& input[type=email],
	& select,
	& textarea{
		&.valid{
			border-bottom: 1px solid $grass-green !important;
		  box-shadow: 0 1px 0 0 $grass-green !important;

		  & + label:after{
				color: $grass-green !important;
			}
		}
	}
}

// invalid color
.input-field {
	& input[type="text"],
	& input[type="email"],
	& input[type="tel"],
	& select,
	& textarea{
		&.invalid{
			border-bottom: 1px solid $candy-pink !important;
			box-shadow: 0 1px 0 0 $candy-pink !important;

			& + label:after{
				color: $candy-pink !important;
			}
		}
	}
}

// icon prefix focus color
.input-field .prefix.active {
	@extend .electric-blue-text;
}

// select wrapper
.select-wrapper > span{
	@extend .white-text;
}

// field status indicator
.form-indicator{
	display: inline-block;
	background: getTint($dark-purple,5);
	padding: 10px 10px 5px 20px !important;
	@include border-radius(50px);
	& .field-status-indicator{
		border: 0px;
		border-top: 2px solid;
		padding-top: 2px;
		position: relative;
		display: inline-block;
		margin-right: 2em;

		&[data-color="pink"]{
			@extend .s-text;
			border-top-color: $candy-pink;
		}
		&[data-color="yellow"]{
			@extend .s-text;
			border-top-color: $bright-yellow;
		}
		&[data-color="green"]{
			@extend .s-text;
			border-top-color: $grass-green;
		}
	}
}

#toast-container{
	bottom: 7% !important;
	right: 3% !important;
	top: auto;
	//@extend .dull-black-bg;

	& .toast{
		@extend .dull-black-bg;
	}
}
