/*
		_hero-slider.scss
*/

$navbar-height-s: 76px;
$navbar-height: 84px;

.tilt{
	transform-style: preserve-3d;
	//background: $moon-blue;
}

#hero{
	height: 100vh;
	@include transition(all 0.1s $ease);
	background: "FAFAFA";
	// @media #{$medium-and-down} {
	// 	height: auto;
	// }

	& .down-arrow-start{
		position: absolute;
		left: 50%;
		@include transform(translateX(-50%));
		bottom: 40px;

		& a{
			@extend .dull-black-text;
			display: block;
			position: relative;
		}
	}

	.hero-loader{
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform(translate(-50%,-50%));
	}

	& .row{
		margin-bottom: 0;
		transform: translateZ(50px);

		@media #{$medium-and-down} {
			//display: block;
			flex-direction: column;
			padding-left: 4em;
			padding-right: 4em;
		}

		& #hero-letter{
			& img{
				position: relative;
				display: inline-block;
				height: 50vh;
				width: auto;
				max-width: 100%;

				@media #{$extra-large-and-up} {
					height: 65vh;
					width: auto;
					max-width: 100%;
				}
		
				@media #{$medium-and-down} {
					height: 25vh;
					width: auto;
					max-width: none;
				}
			}
		}
	
		& #hero-headline{
			& h2{
				opacity: 0;
				position: relative;
				display: inline-block;
				font-weight: 700 !important;
				text-transform: uppercase;

				@media #{$medium-and-down} {
					font-size: 1.5em;
				}
			}
			& #digitalBakeryLogo{
				opacity: 0;
				position: relative;
				display: inline-block;
				width: 100%;
				height: auto;
				@media #{$medium-and-down} {
					height: auto;
					width: 100%;
				}
			}
		}
	}
}
