/* _icons.scss */

.icon-circle{
	width: 1em;
	height: 1em;
	line-height: 0.80em;
	@include border-radius(50%);
	display: inline-block !important;
	position: relative;
	@extend .center-align;
	@include box-shadow(0.04em 0.04em 0);
	cursor: default;

	& > i{
		font-size: 0.5em;
	}

	&.moon-blue{
		@extend .moon-blue-bg, .white-text;
	}
	&.chirpy-purple{
		@extend .chirpy-purple-bg, .white-text;
	}
	&.aqua-green{
		@extend .aqua-green-bg, .white-text;
	}
	&.electric-blue{
		@extend .electric-blue-bg, .white-text;
	}
}

.icon-xl{
	font-size: 80px;
}
.icon-l{
	font-size: 48px;
}
.icon-m{
	font-size: 36px;
}
.icon-s{
	font-size: 24px;
}
.icon-xs{
	font-size: 18px;
}

.icon-web{
	@extend .chirpy-purple-bg;

	& i:before{
		content: "web";
	}
}
.icon-design{
	@extend .electric-blue-bg;

	& i:before{
		content: 'crop_rotate';
	}
}
.icon-write{
	@extend .moon-blue-bg;

	& i:before{
		content: 'text_format';
	}
}
.icon-pm{
	@extend .candy-pink-bg;

	& i:before{
		content: 'av_timer';
	}
}
.icon-social{
	@extend .moon-blue-bg;

	& i:before{
		content: 'share';
	}
}
.icon-app{
	@extend .chirpy-purple-bg;

	& i:before{
		content: 'developer_mode';
	}
}
.icon-motion{
	@extend .aqua-green-bg;

	& i:before{
		content: 'video_library';
	}
}
.icon-ba{
	@extend .lush-purple-bg;

	& i:before{
		content: 'device_hub';
	}
}

.align-top{
	vertical-align: top;
}
.align-middle{
	vertical-align: middle;
}
