/*
		_layout.scss
*/


/*
=====================================
DOM
=====================================
*/
body, html {
	font-family: $default-font;
	padding: 0;
	//background: url(../images/bg-repeat@2x.png) top center repeat-y;
	background-size: 100% auto;
	@extend .bluestone-grey-text;
	font-size: 16px;
	font-weight: 400;
}
section{
	position: relative;
	padding: 80px 0 80px 0;

	&.less-padding{
		padding: 50px 0 50px 0;
	}
}
.no-padding{
	padding: 0 !important;
}
.no-bottom-padding{
	padding-bottom: 0 !important;
}
.no-top-padding{
	padding-top: 0 !important;
}
.material-tooltip{
	font-size: 0.8em;
}
.curly{
	width: 92px;
	height: 12px;
	position: relative;
	display: inline-block;
	clear: both;
	//background: url('../images/curly.svg') top center no-repeat;
	//background-size: auto 100%;
	margin: 20px 0 20px 0;
	& img{
		width: 100%;
		height: auto;
	}
}
// .curly-white{
// 	@extend .curly;
// 	background: url('../images/curly-white.svg') top left no-repeat;
// }
#cta{
	height: 538px;
	@extend .center-align;
}
.container-widebox{
	@extend .container;
	width: 85%;
}
.vert-spacer{
	width: 100%;
	position: relative;
	display: block;
	clear: both;
	&.h1{
		height: 10px;
	}
	&.h2{
		height: 20px;
	}
	&.h3{
		height: 30px;
	}
	&.h4{
		height: 40px;
	}
	&.h5{
		height: 50px;
	}
	&.h6{
		height: 60px;
	}
	&.h7{
		height: 70px;
	}
	&.h8{
		height: 80px;
	}
	&.h9{
		height: 90px;
	}
	&.h10{
		height: 100px;
	}
}
.page-footer{
	@extend .blue-grey, .darken-2;
}
.footer-copyright{
	& .gs-icon{
		width: 20px;
		height: 20px;
		background-position: top left;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		margin: 0px;
		margin-right: 10px;
	}
}

.legends-header{
	overflow: hidden;
	
	& img{
		width: auto;
		height: 500px;
		display: block;
		margin: 0;
		padding: 0;
		font-size: 0;
		position: relative;
		left: 50%;
		@include transform(translateX(-50%));

		@media #{$small-and-down} {
			height: 210px;
		}
	}
}

/*
=====================================
Background Colors
=====================================
*/
.white-bg{
	background: $white !important;
}
.bluestone-grey-bg{
	background: $bluestone-grey !important;
}
.moon-blue-bg{
	background: $moon-blue !important;
}
.electric-blue-bg{
	background: $electric-blue !important;
}
.candy-pink-bg{
	background: $candy-pink !important;
}
.aqua-green-bg{
	background: $aqua-green !important;
}
.dark-purple-bg{
	background: $dark-purple !important;
}
.deep-purple-bg{
	background: $deep-purple !important;
}
.chirpy-purple-bg{
	background: $chirpy-purple !important;
}
.lush-purple-bg{
	background: $lush-purple !important;
}
.dull-black-bg{
	background: $dull-black !important;
}
.bright-yellow-bg{
	background: $bright-yellow !important;
}
.grass-green-bg{
	background: $grass-green !important;
}
