/*
		_mixins.scss
*/

// text color
@mixin text-color($color){
	color: $color;
}

// background color
@mixin bg-color($color){
	background-color: $color;
}

// opacity
@mixin set-opacity($amount){
	-webkit-opacity: 	$amount;
	-moz-opacity: 		$amount;
	opacity: 					$amount;
}

// border radius
@mixin border-radius($val){
	-webkit-border-radius: $val;
	-moz-border-radius: $val;
	border-radius: $val;
}

// box shadow
@mixin box-shadow($conf, $color: $bluestone-grey, $alpha: 0.3){
	@if $conf == none {
		-webkit-box-shadow: $conf;
		-moz-box-shadow: $conf;
		box-shadow: $conf;
	} @else {
		-webkit-box-shadow: $conf rgba($color, $alpha);
		-moz-box-shadow: $conf rgba($color, $alpha);
		box-shadow: $conf rgba($color, $alpha);
	}
}

// text shadow
@mixin text-shadow($conf, $color: $bluestone-grey, $alpha: 0.3){
	@if $conf == none {
		-webkit-text-shadow: $conf;
		-moz-text-shadow: $conf;
		text-shadow: $conf;
	} @else {
		-webkit-text-shadow: $conf rgba($color, $alpha);
		-moz-text-shadow: $conf rgba($color, $alpha);
		text-shadow: $conf rgba($color, $alpha);
	}
}

// Transform
@mixin transform($conf){
	-webkit-transform: $conf;
	-moz-transform: $conf;
	transform: $conf;
}

// Transition
@mixin transition($config){
	-webkit-transition: $config;
	-moz-transition: $config;
	transition: $config;
}
