/* _modal.scss */

.modal{
	width: 80vw !important;
	max-height: inherit !important;
	@include transform(translateY(-50%) !important);
	//@include border-radius(50px);
	@include box-shadow(none);
	//overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	//@extend .dark-purple-bg;
	background: transparent;
	//margin: 0px;


	@media #{$medium-and-down} {
    width: 90vw;
  }

	& .modal-content{
		position: relative;
		padding: 0px;
	}
	&.open{
		height: inherit;
		@include transform(translateY(-50%) !important);
	}
	& .closebtn{
		//font-family: "Material Icons";
		//content: 'close';
		//font-size: 0em;
		@extend .white-text;
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 9999;
		cursor: pointer;
		line-height: 0em;

		& i{
			font-size: 3em;

			@media #{$medium-and-down} {
				font-size: 2em;
			}
		}
	}
}
.modal-form{
	width: 80vw !important;
	@extend .modal, .white-text, .dark-purple-bg;
	height: 100vh!important;
	//margin: 0px;
	padding: 3em 0 2em 0;
	//@include border-radius(10px);

	@media #{$medium-and-down}{
		width: 90vw !important;
	}

	& .tabs{
		@extend .dark-purple-bg;

		& .indicator {
			@extend .moon-blue-bg;
		}

		& li a{
			cursor: pointer;
			@extend .white-text;
			@include set-opacity(0.6);

			&.active{
				@extend .moon-blue-text;
				@include set-opacity(1);
			}
		}
	}
}
.modal-overlay{
	//@extend .dark-purple-bg;
	//@extend .dull-black-bg;
	@extend .chirpy-purple-bg;
	@include set-opacity(1 !important);
}
#vmodal{
	@extend .dark-purple-bg;
}
