/*
		_navbar.scss
*/
$navbar-height: 80px;
$navbar-mobile-height: 60px;

#NavBar{
	width: 100vw;
	height: auto;
	position: fixed;
	//position: -webkit-sticky;  // required for Safari
  	//position: sticky;
	top: 0;
	left: 0;
	//margin-top: 70px;
	//padding: 10px 0 10px 0;
	z-index: 9999;
	//@extend .white-bg;
	@media #{$medium-and-down} {
    margin-top: 0px;
  }

	& .button-collapse{
		height: auto;;
		margin-left: 0;
		line-height: 0em;
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%));
	}
}

.navbarstyle{
	height: $navbar-height;
	line-height: $navbar-height;
	background: transparent !important;
	//@extend .white-bg;
	@include box-shadow(none);
	@include transition (all $duration $ease);
	position: relative;
	z-index: 999;

	@media #{$medium-and-down} {
    height: $navbar-mobile-height;
	}
	
	&.onScroll{
		@extend .white-bg;
	}

	& ul a, & .button-collapse i{
		@include text-color($dull-black);
	}
	& a[class*="btn"]{
		//@extend .white-text;
		margin-right: 0px;
		margin-left: 5px;
	}
	& .brand-logo{
		height: 100%;
		& img{
			height: 100%;
			width: auto;
			@include transition (all $duration $ease);
		}
	}
	& .side-nav{
		//padding-top: 1em;

		& li{
			border: 0;
			border-top: 1px solid getTint($bluestone-grey,45%);

			&:nth-child(1),
			&:last-child{
				border: 0;
			}
		}
	}
	& ul li a:hover{
		background: getTint($bluestone-grey,50);
	}
	& ul a.active{
		@extend .moon-blue-text;
	}
}

#sidenav-overlay{
	z-index: 996;
}
