/*
 * Copyright 2017 Gapshift (Pty) Ltd. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


/* _owl-carousel.scss */
#clients .owl-carousel{
	height: 100px;

	& .owl-stage-outer,
	& .owl-stage,
	& .owl-item{
		height: 100%;

		& div {
			width: auto;
			height: 100%;
			@extend .center-align;
		}
		& img{
			width: auto !important;
			height: 100%;
			display: inline-block;
		}
	}
}
.pagination-dots{
	height: 20px;
	//margin: 20px 0 20px 0;
	position: relative;
	text-align: center;
	font-size: 0px;

	& .owl-dot{
		width: 5px !important;
		height: 5px !important;
		@extend .white-bg;
		@include border-radius(50%);
		position: relative;
		display: inline-block;
		margin-left: 5px;
		margin-right: 5px;
		cursor: pointer;
		top: 50%;
		@include transform(translateY(-50%));

		&.active{
			@extend .moon-blue-bg;
		}
	}
}
.owl-carousel{
	display: block;
	opacity: 1;
	height: 100%;
	width: 100%;
	cursor: -webkit-grab !important;
	cursor: -moz-grab !important;
	cursor: grab !important;
	&:active, &:focus{
		cursor: -webkit-grabbing !important;
		cursor: -moz-grabbing !important;
		cursor: grabbing !important;
	}
}
.owl-stage-outer, .owl-stage, .owl-item{
	height: 100%;
	height: 100%;
	//margin: 20px 0 20px 0 !important;
}

#pmodal .owl-item,
#vmodal .owl-item{
	@extend .center-align;

	img{
		width: auto !important;
		max-width: 80vw !important;
		height: auto !important;
		max-height: 80vh !important;
		position: relative !important;
		display: inline-block !important;

		@media #{$medium-and-down} {
			width: auto !important;
			max-width: 100% !important;
			height: auto !important;
			max-height: none !important;
	  }
	}
}

.owl-item, .owl-stage-outer{
	cursor: -webkit-grab !important;
	cursor: -moz-grab !important;
	cursor: grab !important;
}
.owl-grab{
	cursor: -webkit-grab !important;
	cursor: -moz-grab !important;
	cursor: grab !important;
}
.owl-item{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
