/* _privacy-policy.scss */

#privacy{
  font-size: 14px;

}

.collapsible{
  @include box-shadow(none);

  & .collapsible-header{
    font-weight: 700;
  }

  ul{
    list-style-type: disc;
  }

  & .collapsible-body p{
    &:first-child{
      margin-top: 0;
    }

    &:last-child{
      margin-bottom: 0;
    }
  }
}
