/*
		_process-anim.scss
*/

#animation{
	height: 600px;
	overflow: hidden;
	//@extend .electric-blue-bg;
	@extend .deep-purple-bg;
	& .bg{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: url('../images/backgrounds/process@2x.png') center center no-repeat;
		background-size: cover;
		transform-origin: center center;
	}
	& img{
		width: auto;
		height: 120%;
		position: absolute;
		top: 50%;
		//left: 50%;
		@include transform(translateY(-45%));

		@media #{$medium-and-down} {
			width: auto;
			height: 100%;
			top: 50%;
			//left: 50%;
			@include transform(translate(-15%,-50%));
		}
	}
}
