/*
		_project-box.scss
*/
// @mixin aspect-ratio($width, $height) {
//     position: relative;
//     &:before{
//         display: block;
//         content: " ";
//         width: 100%;
//         padding-top: ($height / $width) * 100%;
//     }
// }

.project-box{
	@extend .dark-purple-bg, .white-text, .center-align;
	position: relative;
	overflow: hidden;
	cursor: zoom-in;
	//@include aspect-ratio(1,1);

	&:before{
		content: "";
		display: block;
		padding-top: 100%; 	/* initial ratio of 1:1*/
	}

	&:hover .background,
	&:active .background,
	&:focus .background{
		opacity: 0;
		@include transform(scale(1.2));
	}

	&:hover .text,
	&:active .text,
	&:focus .text{
		opacity: 1;
		margin-top: 0em;
	}

	& .text{
		position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
		//width: 100%;
		z-index: 2;
		opacity: 0;
		padding: 20px;
		//margin-top: 3em;
		@include transition(all $duration $ease);

		& div{
			flex: 1;
		}
	}

	& .background{
		//width: 100%;
		//height: 100%;
		background-position: center center !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
		z-index: 1;
		opacity: 0.8;
		@include transition(all $duration $ease);
	}

	& .s-text{
		display: inline-block;
		@extend .white-bg, .chirpy-purple-text;
		padding: 3px 8px 2px 8px;
		@include border-radius(10px);
	}

	h5{
		@extend .white-text;
		font-weight: 700;
	}

	& .icon-circle{
			margin-right: 2px;
	}
}
