// _tabs.scss

.tabs{
  & li a{
    cursor: pointer;
    @include set-opacity(0.6);

    &.active{
      @include set-opacity(1);
    }
  }
}

#work{
	& .tabs{
		& .indicator {
			@extend .dark-purple-bg;
		}
		& li a{
			@extend .white-text;

			&.active{
				@extend .dark-purple-text;
			}
		}
	}
}

#how-it-works{
	& .tabs{
    @extend .electric-blue-bg;

		& .indicator {
			@extend .lush-purple-bg;
		}
		& li a{
			@extend .dark-purple-text;

			&.active{
				@extend .lush-purple-text;
			}
		}
	}
}
