/*
		_text.scss
*/


/*
=====================================
Colors
=====================================
*/
.moon-blue-text{
	color: $moon-blue !important;
}
.electric-blue-text{
	color: $electric-blue !important;
}
.aqua-green-text{
	color: $aqua-green !important;
}
.candy-pink-text{
	color: $candy-pink !important;
}
.deep-purple-text{
	color: $deep-purple !important;
}
.dark-purple-text{
	color: $dark-purple !important;
}
.chirpy-purple-text{
	color: $chirpy-purple !important;
}
.lush-purple-text{
	color: $lush-purple !important;
}
.bluestone-grey-text{
	color: $bluestone-grey !important;
}
.dull-black-text{
	color: $dull-black !important;
}


/*
=====================================
Sizes
=====================================
*/

h1,h2,h3,h4,h5,h6{
	padding: 0;
	margin: 0 0 20px 0;
	@extend .xlight-text;
	@extend .dull-black-text;
	line-height: normal;
}

h1{
	font-size: 64px;
	@media #{$small-and-down} {
    font-size: 3em;
  }
	&.shadow{
		@include text-shadow(4px 6px 2px, $dull-black, 0.16);
	}
}
h2{
	font-size: 40px;
}
h3{
	font-size: 30px;
}
h4{
	font-size: 25px;
}
h5{
	font-size: 20px;
}

.xl-text{
	font-size: 8em;
	@media #{$small-and-down} {
		font-size: 6em;
	}
}
.m-text{
	font-size: 0.9em;
}
.s-text{
	font-size: 0.6em;
}
.footer-copyright{
	font-size: 0.8em;
}
footer{
	& .icon{
		font-size: 2em;
		margin-right: 10px;
	}
}


/*
=====================================
Font Weight
=====================================
*/
.thin-text{
	font-weight: 100 !important;
}
.xlight-text{
	font-weight: 200 !important;
}
.light-text{
	font-weight: 300 !important;
}
