/*
		_ticker.scss
*/


.ticker-cursor{
  font-weight: 300;
  @extend .candy-pink-text;
}
.ticker{
  font-weight: 300;
  @extend .candy-pink-text;
  // display: inline-block;
  // border-bottom: 1px solid currentColor;
  // line-height: 1.1;
  // text-shadow: 
  //   1px 1px 0 #{$underlineShadowColor},
  //   2px 2px 0 #{$underlineShadowColor},
  //   1px -1px 0 #{$underlineShadowColor},
  //   2px -2px 0 #{$underlineShadowColor},
  //   -1px 1px 0 #{$underlineShadowColor},
  //   -2px 2px 0 #{$underlineShadowColor},
  //   -1px -1px 0 #{$underlineShadowColor},
  //   -2px -2px 0 #{$underlineShadowColor},
  //   0 1px 0 #{$underlineShadowColor},
  //   0 2px 0 #{$underlineShadowColor},
  //   1px 0 0 #{$underlineShadowColor},
  //   2px 0 0 #{$underlineShadowColor},
  //   -1px 0 0 #{$underlineShadowColor},
  //   -2px 0 0 #{$underlineShadowColor},
  //   0 -1px 0 #{$underlineShadowColor},
  //   0 -2px 0 #{$underlineShadowColor};
}

