/*
		_timeline.scss
*/

.timeline{
  height: auto;
  position: relative;

  & .line{
    width: 2px;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 50%;
    @include transform(translateX(-50%));
    @extend .aqua-green-bg;
    @include border-radius(50px);

    @media #{$medium-and-down} {
      display: none;
    }
  }
  & ol{
    position: relative;
    display: inline-block;
    counter-reset: nums;
    list-style: none outside none;
    padding: 0;
    margin: 0;

    & li{
      position: relative;
      counter-increment: nums;
      display: inline-block;
      padding: 0;
      padding-right: 50%;
      margin: 0px;
      margin-bottom: 50px;
      @extend .white-text, .right-align;

      @media #{$medium-and-down} {
        padding: 0;
        text-align: center;
        margin-bottom: 100px;
      }

      & .icon{
        height: 120px;
        @extend .center-align;
        padding: 0 5% 0 0;

        @media #{$extra-large-and-up} {
          height: 140px;
        }

        @media #{$medium-and-down} {
          padding: 0;
          margin: 60px 0 40px 0;
        }

        img{
          width: auto;
          height: 100%;
        }
      }
      & h3{
        @extend .white-text;
        font-weight: 700;
        display: inline-block;
      }
      & p{
        margin: 0;
      }
      &:before{
        content: counter(nums);
        width: 46px;
        height: 46px;
        position: absolute;
        top: 50%;
        right: 50%;
        @include transform(translate(50%,-50%));
        border: 1px solid $white;
        @include border-radius(50%);
        font-size: 20px;
        @extend .white-text, .center-align, .chirpy-purple-bg;
        line-height: 46px;
        font-weight: 100;

        @media #{$medium-and-down} {
          top: 0;
        }
      }
    }
    & li:nth-child(2n){
      padding-right: 0;
      padding-left: 50%;
      @extend .left-align;

      @media #{$medium-and-down} {
        padding: 0;
        text-align: center;
        margin-bottom: 100px;
      }

      & .icon{
        padding: 0 0 0 5%;
        @media #{$medium-and-down} {
          padding: 0;
        }
      }
    }
    & li:last-child{
      margin-bottom: 0px !important;
    }
  }
}
