/*
		_variables.scss
*/

/*=====================================
TABLE OF CONTENT

1. FONTS
2. COLOURS
3. ANIMATION & EASING
=====================================*/




/*=====================================
1. FONTS
=====================================*/
$default-font: 'Montserrat', sans-serif !important;



/*=====================================
2. COLOURS
=====================================*/
$moon-blue: #0C7BC1;
$dark-purple: #232C53;
$deep-purple: #15112D;
$lush-purple: #8E2D85;
$chirpy-purple: #42549F;
$candy-pink: #CC155F;
$aqua-green: #0CACC1;
$electric-blue: #57C1E8;
$bluestone-grey: #6E7880;
$dull-black: #0A1014;
$bright-yellow: #C6DE0D;
$grass-green: #0DDE0D;
$white: #FFFFFF;

$primary-color: $moon-blue;
$secondary-color: $chirpy-purple;



/*=====================================
2. ANIMATION & EASING
=====================================*/
$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;

$duration: 0.2s;
$ease: $animation-curve-fast-out-slow-in;

$underlineShadowColor: $white;
